<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../../css/bootstrap.min.css" />
	</head>
	<body>
		<table class="table  table-hover">
			<tr>
				<td>this 是在运行时绑定的，并不是在编写时绑定的，它的上下文取决于函数调用时的各种条件</td>
			</tr>
			<tr>
				<td>this的绑定和函数的声明位置没有关系 只取决于函数的调用方式</td>
			</tr>
			<tr>
				<td>当一个函数被调用时，会创建一个活动记录（执行上下文）</td>
			</tr>
			<tr>
				<td>这个记录会包含函数在哪里被调用（调用栈）、函数的调用方法、传入的参数等信息。</td>
			</tr>
			<tr>
				<td>this就是记录其中的一个属性，会在函数执行的过程中用到。</td>
			</tr>
			<tr>
				<td>this即不指向函数自身也不指向函数函数的词法作用域</td>
			</tr>
			<tr>
				<td>this实际上是在函数被调用时发生绑定的，它指向什么完全取决于函数在哪里被调用</td>
			</tr>
			<tr>
				<td>this就是记录其中的一个属性，会在函数执行的过程中用到。</td>
			</tr>
		</table>
	</body>
	<script type="text/javascript">
		
	</script>
</html>
