<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="../../js/jquery-3.1.0.min.js" ></script>
		<script type="text/javascript">
			$(function(){
					var btn2 = document.getElementById("btn2");
				alert(btn2);
				btn2.addEventListener("click",function click(evt){
					alert("btn2 clicked");
				})
			})
		</script>
	</head>
	<body>
		<table border="1">
			<tr>
				<td>A<input type="radio"></td>
				<td>选择A选项</td>
				<td>B<input type="radio" id="1"></td>
				<td><label for="1">选择B选项</label></td>
			</tr>
		</table>
		<input type="button" id="btn2" value="btn2" />
	</body>
</html>
